{
    "DiscordData" : {
        "ClientID" : "",
        "AppID" : "",
        "PublicKey" : "",
        "ClientSecret" : "",
        "Token" : ""
    },

    "TwitchData" : {
        "ClientID" : "",
        "ClientSecret" : ""

    },

    "TelegramData" : {

    }
}
